* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: Sen, sans-serif;
}

body,
html {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/*=============== Header ===============*/
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav ul a {
    position: relative;
    padding: 8px 21px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.nav ul a:hover,
.nav li.active a {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    line-height: 1.75;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action {
    margin-left: 49px;
}

.sign-up-btn {
    min-width: 144px;
    padding: 11px 41px;
}

/*=============== Hero ===============*/
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

/* Hero Left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.media-block .image {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9E8;
}

.hero-summary .item:nth-child(2) .icon {
    background: #FCEFFF;
}

.hero-summary .item:nth-child(3) .icon {
    background: #EBEAFF;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.88;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero-summary .item+.item {
    margin-top: 22px;
}

/* Hero Right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin: 22px 0 38px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.content-block .desc-2 {
    margin: 0;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    padding: 17px 33px;
    background: var(--primary-color);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .watch-video {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 82px;
    border: none;
    background: #FFFCF4;
    cursor: pointer;
}

.watch-video .icon {
    position: absolute;
    left: -64px;
    transform: translateY(11%);
}

.watch-video .watch {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

.hero .stats strong+strong {
    margin-left: 28px;
}

/* Popular  */
.popular {
    margin-top: 200px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.circle-icon {
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: #fff;
    cursor: pointer;
}

.popular-top .circle-icon.active,
.circle-icon:hover {
    color: #fff;
    background: var(--primary-color);
}

.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.popular .course-item .info {
    margin: 16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    padding-right: 6px;
}

.popular .course-item .star {
    width: 18px;
    height: 18px;
}

.popular .course-item .value {
    margin-left: 6px;
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.popular .course-item .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .foot .btn {
    padding: 12px 24px;
    border: none;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.popular .foot .btn:hover {
    background: var(--primary-color);
    cursor: pointer;
}

/* ========= Feedback =========== */
.feedback {
    margin-top: 200px;
    background: #2E2100;
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .info .title {
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    margin-top: 18px;
}

.feedback .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #FFB900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback .feedback-item blockquote {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/* ============ Features ============= */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .image {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .image:first-child {
    margin-top: 34px;
}

.features .body .content {
    width: 41%;
}

.features .content .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.features .content .btn {
    margin-top: 32px;
    padding: 11px 37px;
    min-width: 137px;
    background: #FFB900;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .body .content {
    width: 49%;
}

.features-2nd .images .image {
    width: 470px;
    height: 440px;
}

/* =========== Blog =========== */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto 0;
    color: #696262;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .item {
    width: calc(33.33% - 20px);
    background: #FFF;
    border-radius: 16px;
    flex-shrink: 0;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 4px;
}

.blog .item .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
    content: "";
    display: inline-block;
    height: 1px;
    border-radius: 50%;
    background: #E2DFDA;
}

.blog .item .title a {
    display: inline-block;
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog .item .btn {
    margin-top: 12px;
    padding: 12px 21px;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53;
    cursor: pointer;
}

.blog .dot.active {
    background: var(--primary-color);
    cursor: default;
}

/* =========== Footer =========== */
.footer {
    background: #2E2100;
    padding-top: 96px;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .row .column .desc {
    margin-top: 18px;
    width: 267px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .socials {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}

.footer .column .title {
    display: inline-block;
    padding-bottom: 14px;
    width: 130px;
    border-bottom: 1px solid #59554B;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    color: #FFF;
    font-weight: 600;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright p {
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}